{% extends "base.html" %}
{% block title %}
  Анфиса для друзей. Мороженое {{ ice_cream.title|lower }}
{% endblock %}
{% block content %}
        <!-- Блок content -->
        <h1 class="pb-2 mb-0">Классический пломбир</h1>  
        <div class="row mt-3">
          <div class="col-12 col-md-6">
            <h2>Описание</h2>
            <p>Настоящее мороженое, для истинных ценителей вкуса. Если на столе появляется пломбир — это не надолго.</p>      
          </div> 
          <div class="col-12 col-md-6 mb-3">
            <!-- Картинку берём из статики -->
            <img 
              class="img-fluid" 
              height="400" width="300"
              src="img/image-holder.png"
              >      
          </div>
        </div>     
        <!-- Конец блока content --> 
{% endblock %}